@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:600);

* { margin:0; padding:0; box-sizing:border-box; }

body {
	background-color: black;
	color: white;
	font-family: 'Josefin Slab', serif;
	height:100%;
}
header, footer {
	position:fixed;
	left:0;
	width:100%;
	height:3em;
	background-color: black;
	background-color: rgba(255,255,255,.5);
}

header  {
	top:0;
	margin-bottom: 3em;
}
footer {
	bottom:0;
	font-size: 1em;
}
section#splash {
	background: url("../images/ae1.jpg") no-repeat center top fixed;
	background-size: 100%;
	height:90vh;
}

}
#header {
	margin-left: 1em;
}

#graphic {
	/*background: url("../images/ae1.jpg") no-repeat center top fixed;
	background-size: 80%;
	height:80vh;*/
/*	padding:100px 0;*/
/*	margin-top: 25vh;*/
}
#video img{
	width: 100%;
	height: 90vh;
}
#menu a{
	color: white;
/*	display:inline-block;*/
	text-decoration: none;
}

.round-button {
	display:inline-block;
	width:50px;
	height:50px;
    line-height:50px;
    border: 3px solid gray;
    border-radius: 50%;
/*    color:#f5f5f5;*/
	color:gray;
    text-align:center;
    text-decoration:none;
    background: rgba(255,0,0,.5);
    font-size:20px;
    font-weight:bold;
    margin-top: 500px;
    margin-left:150px;
/*    position: fixed;*/
    cursor: pointer;
    
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
