@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,600);
@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:700italic);

* { margin:0; padding:0; box-sizing:border-box; }

body {
/*	background-color: #5f5f5f;*/
/*	background-color: #fcfaf2;*/
/*	background-color: #e1e3e4;*/
	background-color: #202121;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
	font-size:16px;
}
header {
	position:fixed;
	top:0;
	left:2em;
}
header p {
	font-family: 'Abril Fatface', cursive;
	font-size: 4em;
	color: #ffffff;
	text-align: left;

}
h1{
	font-size: 4em;
	font-weight: 600;
	letter-spacing: 0.05em;
	color: white;
	text-align: center;
	margin: 0 1em 0 1em;
	
}
a {
	color: white;
	font-size: 1em;
	font-weight: 400;
}
#splash {
	background: url("../images/spring.png") no-repeat center center fixed;
	background-size: cover;
	height:50vh;
	padding:160px 0;
	margin-top: 25vh;
}
#author {
	font-size: 1em;
	font-weight: 400;
	letter-spacing: 0.04em;
	color: white;
	text-align: center;
	margin-top: 1.5em;
}
#about {
	
/*	font-family: 'Josefin Slab', serif;*/
	font-family: 'PT Serif', serif;
	font-style: italic;
	font-size: 1.25em;
	text-transform: capitalize;
	color: white;
	text-align: right;
	margin: 5em 1.5em 0 0;
	line-height: 1.5em;
}

#contact { 
	text-align: left;
	color: white;
	margin-left: 1.5em;
}
#country {
	font-style: none;
	font-size: 0.8em;
/*	line-height: */

}
