@import url(https://fonts.googleapis.com/css?family=Yantramanav:400,300);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
@import url(https://fonts.googleapis.com/css?family=Stoke:400,300);

* { 
	margin:0; 
	padding:0; 
	box-sizing: border-box;
 }


body {
	margin: 0;
  	padding: 0;
  	background-color: white;
  	display: block;
  	font-size: 16px;
  	overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



.responsive-menu a {
	color: white;
	float:left;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	letter-spacing: 0.5px;
	text-decoration: none;
	text-align: center;
	font-size: 1em;
	width: 20%;
	padding: 30px;
	background-color: #f39355;
}


.logo {
	height: 100px;
	display: block;
}

.logo a{
	float:left;
	padding: 10px;
}



#webname {
	font-family: 'Stoke', serif; 
	font-weight: 400; 
	font-size: 0.9em;
	color:#5f5f5f;
	width: 200px;
	display:block;
	float: left;
	margin-left: 20px;
	height: 50px;
	padding-top: 45px;
	padding-bottom: 20px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
}

	


.menu-btn div {
position: absolute;
left: 100%;
top: 64%;
padding-right: 8px;
margin-top: -0.50em;
line-height: 1.2;
font-size: 18px;
font-weight: 200;
vertical-align: middle;
z-index: 99;
}
 
.menu-btn span {
display: block;
width: 30px;
height: 4px;
margin: 4px 0;
background: #f39355;
z-index: 99;
}
 
.responsive-menu{
display: none;
}
 
.expand {
display: block !important;
}


#contanier {
	width:100%;
	height: 500px;
	display: block;
	padding-top: 150px;
	padding-bottom:200px;
	overflow: hidden;
}

#slider {
	display: inline-block;
	float:right;
}

#slider a{
	padding-left: 20px;
}



.center-title {
	font-family: 'Josefin Slab', serif;
  	font-size: 2em;
  	line-height: 1.5em;
  	color:#241f21;
	display:block;
	width: 70%;
	float:right;
	height: auto;
	overflow: hidden;
}


.nav-down {
	width: 100%;
	height: 5em;
	display: block;
	
	background-color: #292d35;/*#444b5d*/
	margin: auto;
	font-family: 'Lato', sans-serif;
  	font-weight: 400;
  	color: white;
  	line-height: 2em;
	text-transform: uppercase;
	padding: 10px;
	text-align: center;
}







	
	














