@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,600);
@import url(https://fonts.googleapis.com/css?family=Raleway:500);
@import url(https://fonts.googleapis.com/css?family=Yantramanav:400,300);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
@import url(https://fonts.googleapis.com/css?family=Stoke:400,300);

* { 
	margin:0; 
	padding:0; 
	box-sizing: border-box;
 }


body {
	margin: 0;
	width: 100%;
	height: 100%;
  	padding: 0;
  	background-color: #f0f0f0;
  	display: block;
  	font-size: 16px;
  	height: 100%;
  	overflow: hidden;
}
header {
	background: white;
	transition-duration:.5s;
	position: relative;
	display: block;
	height: 80px;
	-webkit-box-shadow: 0px 10px 7px rgba(0,0,0,0.2), 0px 20px 10px rgba(0,0,0,0.1);
     -moz-box-shadow: 0px 10px 7px rgba(0,0,0,0.2), 0px 20px 10px rgba(0,0,0,0.1);
          box-shadow: 0px 10px 7px rgba(0,0,0,0.2), 0px 20px 10px rgba(0,0,0,0.1);
}
ul li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}



.responsive-menu a {
	color: #a8a8a8;/*#a8a8a8*/
	float:left;
	font-family: 'Josefin Sans', sans-serif;
/*	font-family: 'Raleway', sans-serif;*/
/*	font-family: 'Lato', sans-serif;*/
	font-weight: 400;

	letter-spacing: 1px;
	text-decoration: none;
	text-align: center;
	font-size: 1.2em;
	width: 20%;
	padding: 25px;
	overflow: hidden;
	
	background-color:#1c1c1c;/*#f39355*/
}

.responsive-menu  a:hover{
	color:#ff9900;/*#777*/
	background: #f0f0f0;
}


.logo {
	height: 85px;
	display: block;
/*	border-top: 5px solid #1c1c1c;*/
}

.logo a{
	float:left;
	padding: 5px;
/*	background: red;*/
}



#webname {
	font-family: 'Stoke', serif; 
	font-weight: 400; 
	font-size: 0.9em;
	color:#5f5f5f;
	width: 250px;
	display:block;
	float: left;
	margin-left: 20px;
	padding-top: 35px;
	padding-bottom: 20px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
}
.mobile-nav {
	float: right;
	padding: 30px;

}


.menu-btn div {
	position: absolute;
	left: 100%;
	top: 64%;
	/*padding-right: 20px;*/
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
	}
 
.menu-btn span {
	display: block;
	width: 30px;
	height: 4px;
	margin: 4px 0;
	background:#ff9900 ;/*f39355#777*/
	z-index: 99;
	}
 
.responsive-menu{
	background: red;
	position:fixed;
	top:0;
	width:100%;
	z-index:-1;
}
 
.expand {
	margin-top:4em;
}


#contanier {
	width:100%;
	height: 700px;
	display: block;
	padding-top: 220px;
	padding-bottom:200px;
	overflow: hidden;
}

#slider {
	padding-top: 30px;
	display: inline-block;
	float:right;
	margin-left: 50px;
}

#slider a{
	
	padding-left: 20px;
	padding-right: 50px;
}



.center-title {
	font-family: 'Josefin Slab', serif;
/*	font-family: 'EB Garamond', serif;*/
  	font-size: 2.5em;
  	font-weight: 400;
  	line-height: 1.5em;
  	color:black;/*#241f21*/
	display:block;
	width: 70%;
	float:right;
	height: auto;
	overflow: hidden;
}


.nav-down a{
	width: 100%;
	height: 3em;
	display: block;
	text-decoration: none;
	overflow: hidden;
	background-color:#3f3f3f; ;/*#444b5d#292d35#3f3f3f*/
	margin: auto;
	font-family: 'Josefin Sans', sans-serif;
	/*font-family: 'Lato', sans-serif;
	font-family: 'Raleway', sans-serif;*/
 	font-weight: 600;
  	color: #d3d3d3;
  	font-size: 1.2em;
  	line-height: 1.2em;
	text-transform: capitalize;
	padding:10px;
	text-align: center;

}

@media only screen and (max-width: 800px) {
	header {
	background:#fff;
	transition-duration:.5s;
	position: relative;
	overflow: hidden;
	-webkit-box-shadow: 0px 10px 7px rgba(0,0,0,0.2), 0px 20px 10px rgba(0,0,0,0.1);
     -moz-box-shadow: 0px 10px 7px rgba(0,0,0,0.2), 0px 20px 10px rgba(0,0,0,0.1);
          box-shadow: 0px 10px 7px rgba(0,0,0,0.2), 0px 20px 10px rgba(0,0,0,0.1);
}
	

.responsive-menu a {
		float:none;
		display: block;
		width:100%;
		color: #a8a8a8;
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 400;
		letter-spacing: 1px;
		text-decoration: none;
		text-align: center;
		font-size: 1.2em;
		border-bottom: 1px dotted gray;
		background-color:#1c1c1c;/*#f39355*/
		padding: 45px;
	}

	#contanier {
		width:100%;
		height: 700px;
		display: block;
		padding-bottom:200px;
		overflow: hidden;
		background: #fff;
		margin-top: 0;
		/*background-color:red;*/
}

	.center-title {
		float: left;
		margin-left: 60px;
		color:#ff9900;
		text-align: center;
		margin-top: 0;
		width: 80%;
		overflow: hidden;
		display: block;
		text-align: center;
		font-size: 2.5em;
	}

	.expand {
		margin-top: 34em;
	}

	#slider {
		display:none;
	} 	
  
}

@media only screen and (max-device-width: 480px){ 


    /*/iPhone 6 and iPhone 6+ portrait and landscape*/
   


	header {
		background:#fff;
		transition-duration:.5s;
		position: relative;
		overflow: hidden;
		-webkit-box-shadow: 0px 10px 7px rgba(0,0,0,0.2), 0px 20px 10px rgba(0,0,0,0.1);
	     -moz-box-shadow: 0px 10px 7px rgba(0,0,0,0.2), 0px 20px 10px rgba(0,0,0,0.1);
	          box-shadow: 0px 10px 7px rgba(0,0,0,0.2), 0px 20px 10px rgba(0,0,0,0.1);
	}
	

	.responsive-menu a {
		float:none;
		display: block;
		width:100%;
		color: #a8a8a8;
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 400;
		letter-spacing: 1px;
		text-decoration: none;
		text-align: center;
		font-size: 1.2em;
		border-bottom: 1px dotted gray;
		background-color:#1c1c1c;/*#f39355*/
		padding: 25px;
	}

	.mobile-nav {
		float: right;
		padding: 25px;


	}

	#webname {
		display: none;

	}

	#contanier {
		width:100%;
		height: 325px;
		display: block;
		overflow: hidden;
		background: #fff;
/*		margin-top: 5px;*/
		padding-top: 50px;
		padding-bottom:200px;
}


	.center-title {

		float: left;
		margin-left: 30px;
		color:#ff9900;
		text-align: left;
		margin-top: 0;
		width: 70%;
		overflow: hidden;
		display: block;
		text-align: left;
		font-size: 2em;
	}
	

	.expand {
		margin-top: 24em;
	}

	#slider {
		display:none;
		margin-top: 0;
	} 	
  


}



/*@media all and (min-width: 400px) and (max-width: 480px) {
}*/
	
	














