@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,600);
@import url(https://fonts.googleapis.com/css?family=Raleway:500);
@import url(https://fonts.googleapis.com/css?family=Yantramanav:400,300);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
@import url(https://fonts.googleapis.com/css?family=Stoke:400,300);

* { 
	margin:0; 
	padding:0; 
	box-sizing: border-box;
 }


body {
	margin: 0;
  	padding: 0;
  	background-color: #f0f0f0;
  	display: block;
  	font-size: 16px;
  	height: 100%;
  	overflow: hidden;
}
header {
	background:#fff;
	transition-duration:.5s;
	position: relative;
	-webkit-box-shadow: 0px 10px 7px rgba(0,0,0,0.2), 0px 20px 10px rgba(0,0,0,0.1);
     -moz-box-shadow: 0px 10px 7px rgba(0,0,0,0.2), 0px 20px 10px rgba(0,0,0,0.1);
          box-shadow: 0px 10px 7px rgba(0,0,0,0.2), 0px 20px 10px rgba(0,0,0,0.1);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



.responsive-menu a {
	color: #a8a8a8;/*#a8a8a8*/
	float:left;
	font-family: 'Josefin Sans', sans-serif;
/*	font-family: 'Raleway', sans-serif;*/
/*	font-family: 'Lato', sans-serif;*/
	font-weight: 400;

	letter-spacing: 1px;
	text-decoration: none;
	text-align: center;
	font-size: 1.2em;
	width: 20%;
	padding: 25px;
	background-color:#1c1c1c;/*#f39355*/
}

.responsive-menu  a:hover{
	color:#ff9900;/*#777*/
	background: #f0f0f0;
}


.logo {
	height: 85px;
	display: block;
/*	border-top: 5px solid #1c1c1c;*/
}

.logo a{
	float:left;
	padding: 5px;
/*	background: red;*/
}



#webname {
	font-family: 'Stoke', serif; 
	font-weight: 400; 
	font-size: 0.9em;
	color:#5f5f5f;
	width: 250px;
	display:block;
	float: left;
	margin-left: 20px;
	padding-top: 35px;
	padding-bottom: 20px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
}
.mobile-nav {
	float: right;
	padding: 40px;

}

	


.menu-btn div {
position: absolute;
left: 100%;
top: 64%;
/*padding-right: 20px;*/
margin-top: -0.50em;
line-height: 1.2;
font-size: 18px;
font-weight: 200;
vertical-align: middle;
z-index: 99;
}
 
.menu-btn span {
display: block;
width: 30px;
height: 4px;
margin: 4px 0;
background:#ff9900 ;/*f39355#777*/
z-index: 99;
}
 
.responsive-menu{
	background: red;
	position:fixed;
	top:0;
	width:100%;
	z-index:-1;
}
 
.expand {
	margin-top:4em;
}


#contanier {
	width:100%;
	height: 700px;
	display: block;
	padding-top: 250px;
	padding-bottom:200px;
	overflow: hidden;
}

#slider {
	display: inline-block;
	float:right;
}

#slider a{
	padding-left: 20px;
	padding-right: 50px;*/
}



.center-title {
	font-family: 'Josefin Slab', serif;
/*	font-family: 'EB Garamond', serif;*/
  	font-size: 2.5em;
  	font-weight: 400;
  	line-height: 1.5em;
  	color:black;/*#241f21*/
	display:block;
	width: 70%;
	float:right;
	height: auto;
	overflow: hidden;
}


.nav-down a{
	width: 100%;
	height: 3em;
	display: block;
	text-decoration: none;
	overflow: hidden;
	background-color:#3f3f3f ;/*#444b5d#292d35#3f3f3f*/
	margin: auto;
	font-family: 'Josefin Sans', sans-serif;
	/*font-family: 'Lato', sans-serif;
	font-family: 'Raleway', sans-serif;*/
 	font-weight: 600;
  	color: #d3d3d3;
  	font-size: 1.2em;
  	line-height: 1.2em;
	text-transform: capitalize;
	padding:10px;
	text-align: center;

}







	
	














