/*body {
	background-image: url("images/spring.jpg");
}*/

header {
	font-family: Lucida console, monospace;
	font-size: 36px;
	font-weight: bold;
	color: black;
}

#slogan{
/*	background-image: url("images/spring.jpg");
*/	font-family: Arial, sans-serif;
	font-size: 54px;
	font-style: italic;
	text-align: right;
	color: orange;
}

p, ul {
	font-family: Times, sans-serif;
	font-size: 20px;
}
